.search{
    margin-top: 20px;
    margin-bottom: 20px;
}
.pacientes{
    margin-top: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}